@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: TekneLDO;
	src: url(/static/public/fonts/TekneLDO-Medium.otf);
}

.tekne {
	font-family: TekneLDO;
}

.bg-wf-primary {
	background-image: linear-gradient(to left bottom, #2a2f57 5%, #0c8b97 48%, #0c8b97 51%, #2a2f57 94%);
}

.bg-wf-physical {
	background-image: linear-gradient(to right bottom, #542376, #cd6690);
}

.bg-wf-economic {
	background-image: linear-gradient(to right bottom, #dc501d, #ffaa00);
}

.bg-wf-psychological {
	background-image: linear-gradient(to right bottom, #006b30, #4fbbb7);
}

.bg-wf-family {
	background-image: linear-gradient(to right bottom, #d09c02, #ffe600);
}

select {
	appearance: none; /* Removes default arrow */
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E') no-repeat;
	background-position: calc(100% - 1rem) center;
	background-size: 12px 12px;
}
