@font-face {
	font-family: TekneLDO;
	src: url(/static/public/fonts/TekneLDO-Medium.otf);
}

.bg-wf-primary {
	background-image: linear-gradient(to left bottom, #2a2f57 5%, #0c8b97 48%, #0c8b97 51%, #2a2f57 94%);
}

.bg-wf-physical {
	min-height: 25vh;
	background-image: linear-gradient(to right bottom, #542376, #cd6690);
}

.bg-wf-economic {
	min-height: 25vh;
	background-image: linear-gradient(to right bottom, #e27248, #dcbe29);
}

.bg-wf-psychological {
	min-height: 25vh;
	background-image: linear-gradient(to right bottom, #006b30, #4fbbb7);
}

.bg-wf-family {
	min-height: 25vh;
	background-image: linear-gradient(to right bottom, #bcad3a, #f4f755);
}

.tekne {
	font-family: TekneLDO;
}